<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="google-site-verification" content="s5xehYZtZ9nNefQtRyeRf2b3P8aWPCWqIx32tnrlTe0" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>{{ page.title }} </title>
<link rel="shortcut icon" type="/image/x-icon" href="/style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/style/css/media-queries.css" media="all" />
<link rel="stylesheet" type="text/css" href="/style/type/delicious.css" media="all" />
<link rel="stylesheet" type="text/css" href="/style/type/brawler.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="/style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="/style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/style/js/zeta-slider.min.js"></script>
<script type="text/javascript" src="/style/js/jquery.slickforms.js"></script>
<script type="text/javascript" src="/style/js/twitter.min.js"></script>
<script type="text/javascript" src="/style/js/tinynav.min.js"></script>
</head>
<body id="top">
<div class="body-wrapper"> 
  <!-- Begin Wrapper -->
  <div class="wrapper"> 
    <!-- Begin Header -->
    <div class="header"> 
      <!-- Begin Logo -->
      <div class="logo"> <a href="/index.html"><img src="/images/christy_logo.png" alt="" /></a> </div>
      <!-- End Logo --> 

      