<!-- Begin Sidebar -->
      <div class="sidebar">
        <div class="sidebox">
          <h3>Popular Posts</h3>
          <ul class="posts-list">
            <li> <a href="#"><img src="style/images/art/blogth-1.jpg" alt="" /></a>
              <h6><a href="#">Interior Design Workshop</a></h6>
              <span>02 Mar 2012</span> </li>
            <li> <a href="#"><img src="style/images/art/blogth-2.jpg" alt="" /></a>
              <h6><a href="#">Unbearable Waiting Hours in the Doctor's Office</a></h6>
              <span>23 Dec 2011</span> </li>
            <li> <a href="#"><img src="style/images/art/blogth-3.jpg" alt="" /></a>
              <h6><a href="#">How to Eat Healthy</a></h6>
              <span>15 Nov 2011</span> </li>
          </ul>
        </div>
        <div class="sidebox">
          <h3>Categories</h3>
          <ul class="list">
            <li><a href="#">Web Design (21)</a></li>
            <li><a href="#">Photography (19)</a></li>
            <li><a href="#">Graphic Design (16)</a></li>
            <li><a href="#">Manipulation (15)</a></li>
            <li><a href="#">Motion Graphics (12)</a></li>
          </ul>
        </div>
        <div class="sidebox">
          <h3>Tags</h3>
          <ul class="tag-list">
            <li><a href="#">Web</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Illustation</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Inspiration</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Manipulation</a></li>
            <li><a href="#">Graphic</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Concept</a></li>
            <li><a href="#">Print</a></li>
          </ul>
        </div>
        <div class="sidebox">
          <h3>Search</h3>
          <form class="searchform" method="get">
            <input type="text" id="s" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
          </form>
        </div>
      </div>
      <!-- End Sidebar --> 