    <div class="intro" itemscope itemtype="http://data-vocabulary.org/Person">
      <p>Hello! Thanks for taking some time to visit <a href="http://christyallen.me" itemprop="url">ChristyAllen.me</a>. Here you will be able to find out more about buying and selling homes with <span itemprop="name">Christy Allen</span>, <span itemprop="role">Realtor</span> at <span itemprop="affiliation">Coldwell Banker Lunsford</span>.</p>
      <div class="social">
        <h3>Elsewhere:</h3>
        <ul>
          <li><a href="http://www.facebook.com/christy.f.allen.9"><img src="/style/images/icon-facebook.png" alt="" /></a></li>
          <li><a href="https://twitter.com/allenhomes"><img src="/style/images/icon-twitter.png" alt="" /></a></li>
          <li><a href="http://www.flickr.com/photos/wadechristy"><img src="/style/images/icon-flickr.png" alt="" /></a></li>
          <li><a href="http://pinterest.com/wadechristy/"><img src="/style/images/icon-pinterest.png" alt="" /></a></li>
          <li><a href="https://plus.google.com/110678085822970181679?rel=author"><img src="/style/images/icon-googleplus.png" alt="" /></a></li>
        </ul>
      </div>
    </div>
  <!-- End Wrapper --> 