    <div class="intro">
      <p>Hello! Thanks for taking some time to visit ChristyAllen.me. Here you will be able to find out more about buying and selling homes with Christy.</p>
      <div class="social">
        <h3>Elsewhere:</h3>
        <ul>
          <li><a href="http://www.facebook.com/christy.f.allen.9"><img src="/style/images/icon-facebook.png" alt="" /></a></li>
          <li><a href="https://twitter.com/allenhomes"><img src="/style/images/icon-twitter.png" alt="" /></a></li>
          <li><a href="http://www.flickr.com/photos/wadechristy"><img src="/style/images/icon-flickr.png" alt="" /></a></li>
          <li><a href="http://pinterest.com/wadechristy/"><img src="/style/images/icon-pinterest.png" alt="" /></a></li>
        </ul>
      </div>
    </div>
  <!-- End Wrapper --> 