 {% include header.html %}
      
<!-- Begin Menu -->
      <div id="menu" class="menu">
        <ul id="tiny">
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/sell">savvy home seller</a></li>
          <li class="active"><a href="/buy">savvy home buyer</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <!-- End Menu --> 
          </div>
    <!-- End Header -->

 {% include social.html %}

 <div class="sidebox">
<h3>{{ page.title }}</h3></div>

{{ content }}

</div>

<div class="clear"></div>

 {% include footer.html %}

  
  